/* author: rachelcrosa */
body{
  background-color: lightblue;
  font-family: sans-serif;
  color: darkblue;
}

h1{
  color: darkblue;
  text-align: left;
  margin-left: 200px;
}

p{
  color: darkblue;
  text-align: left;
  margin-left: 200px;
}

ul{
  margin-top: 50px;
}


ul>li{
  background-color: white;
  text-align: left;
  border-right: 15px solid black;
  border-right-color: black;
  margin-top: 5px;
  width: 100px;
  height: 20px;
  margin-right: 50px;

}

ul.navbar{
  position: absolute;
  text-align: left;
  list-style: none;
}

a{
  text-decoration: none;
  color: darkred;
}
